bin/Debug/net9.0/osx-arm64/createdump
bin/Debug/net9.0/osx-arm64/libclrgc.dylib
bin/Debug/net9.0/osx-arm64/libclrgcexp.dylib
bin/Debug/net9.0/osx-arm64/libclrjit.dylib
bin/Debug/net9.0/osx-arm64/libcoreclr.dylib
bin/Debug/net9.0/osx-arm64/libe_sqlite3.dylib
bin/Debug/net9.0/osx-arm64/libhostfxr.dylib
bin/Debug/net9.0/osx-arm64/libhostpolicy.dylib
bin/Debug/net9.0/osx-arm64/libmscordaccore.dylib
bin/Debug/net9.0/osx-arm64/libmscordbi.dylib
bin/Debug/net9.0/osx-arm64/libSystem.Globalization.Native.dylib
bin/Debug/net9.0/osx-arm64/libSystem.IO.Compression.Native.dylib
bin/Debug/net9.0/osx-arm64/libSystem.Native.dylib
bin/Debug/net9.0/osx-arm64/libSystem.Net.Security.Native.dylib
bin/Debug/net9.0/osx-arm64/libSystem.Security.Cryptography.Native.Apple.dylib
bin/Debug/net9.0/osx-arm64/libSystem.Security.Cryptography.Native.OpenSsl.dylib
bin/Debug/net9.0/osx-arm64/Microsoft.CSharp.dll
bin/Debug/net9.0/osx-arm64/Microsoft.Data.Sqlite.dll
bin/Debug/net9.0/osx-arm64/Microsoft.VisualBasic.Core.dll
bin/Debug/net9.0/osx-arm64/Microsoft.VisualBasic.dll
bin/Debug/net9.0/osx-arm64/Microsoft.Win32.Primitives.dll
bin/Debug/net9.0/osx-arm64/Microsoft.Win32.Registry.dll
bin/Debug/net9.0/osx-arm64/mscorlib.dll
bin/Debug/net9.0/osx-arm64/netstandard.dll
bin/Debug/net9.0/osx-arm64/recup
bin/Debug/net9.0/osx-arm64/recup.deps.json
bin/Debug/net9.0/osx-arm64/recup.dll
bin/Debug/net9.0/osx-arm64/recup.pdb
bin/Debug/net9.0/osx-arm64/recup.runtimeconfig.json
bin/Debug/net9.0/osx-arm64/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net9.0/osx-arm64/SQLitePCLRaw.core.dll
bin/Debug/net9.0/osx-arm64/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Debug/net9.0/osx-arm64/System.AppContext.dll
bin/Debug/net9.0/osx-arm64/System.Buffers.dll
bin/Debug/net9.0/osx-arm64/System.Collections.Concurrent.dll
bin/Debug/net9.0/osx-arm64/System.Collections.dll
bin/Debug/net9.0/osx-arm64/System.Collections.Immutable.dll
bin/Debug/net9.0/osx-arm64/System.Collections.NonGeneric.dll
bin/Debug/net9.0/osx-arm64/System.Collections.Specialized.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.Annotations.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.DataAnnotations.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.EventBasedAsync.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.ComponentModel.TypeConverter.dll
bin/Debug/net9.0/osx-arm64/System.Configuration.dll
bin/Debug/net9.0/osx-arm64/System.Console.dll
bin/Debug/net9.0/osx-arm64/System.Core.dll
bin/Debug/net9.0/osx-arm64/System.Data.Common.dll
bin/Debug/net9.0/osx-arm64/System.Data.DataSetExtensions.dll
bin/Debug/net9.0/osx-arm64/System.Data.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.Contracts.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.Debug.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.FileVersionInfo.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.Process.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.StackTrace.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.TextWriterTraceListener.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.Tools.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.TraceSource.dll
bin/Debug/net9.0/osx-arm64/System.Diagnostics.Tracing.dll
bin/Debug/net9.0/osx-arm64/System.dll
bin/Debug/net9.0/osx-arm64/System.Drawing.dll
bin/Debug/net9.0/osx-arm64/System.Drawing.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.Dynamic.Runtime.dll
bin/Debug/net9.0/osx-arm64/System.Formats.Asn1.dll
bin/Debug/net9.0/osx-arm64/System.Formats.Tar.dll
bin/Debug/net9.0/osx-arm64/System.Globalization.Calendars.dll
bin/Debug/net9.0/osx-arm64/System.Globalization.dll
bin/Debug/net9.0/osx-arm64/System.Globalization.Extensions.dll
bin/Debug/net9.0/osx-arm64/System.IO.Compression.Brotli.dll
bin/Debug/net9.0/osx-arm64/System.IO.Compression.dll
bin/Debug/net9.0/osx-arm64/System.IO.Compression.FileSystem.dll
bin/Debug/net9.0/osx-arm64/System.IO.Compression.ZipFile.dll
bin/Debug/net9.0/osx-arm64/System.IO.dll
bin/Debug/net9.0/osx-arm64/System.IO.FileSystem.AccessControl.dll
bin/Debug/net9.0/osx-arm64/System.IO.FileSystem.dll
bin/Debug/net9.0/osx-arm64/System.IO.FileSystem.DriveInfo.dll
bin/Debug/net9.0/osx-arm64/System.IO.FileSystem.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.IO.FileSystem.Watcher.dll
bin/Debug/net9.0/osx-arm64/System.IO.IsolatedStorage.dll
bin/Debug/net9.0/osx-arm64/System.IO.MemoryMappedFiles.dll
bin/Debug/net9.0/osx-arm64/System.IO.Pipelines.dll
bin/Debug/net9.0/osx-arm64/System.IO.Pipes.AccessControl.dll
bin/Debug/net9.0/osx-arm64/System.IO.Pipes.dll
bin/Debug/net9.0/osx-arm64/System.IO.UnmanagedMemoryStream.dll
bin/Debug/net9.0/osx-arm64/System.Linq.dll
bin/Debug/net9.0/osx-arm64/System.Linq.Expressions.dll
bin/Debug/net9.0/osx-arm64/System.Linq.Parallel.dll
bin/Debug/net9.0/osx-arm64/System.Linq.Queryable.dll
bin/Debug/net9.0/osx-arm64/System.Memory.dll
bin/Debug/net9.0/osx-arm64/System.Net.dll
bin/Debug/net9.0/osx-arm64/System.Net.Http.dll
bin/Debug/net9.0/osx-arm64/System.Net.Http.Json.dll
bin/Debug/net9.0/osx-arm64/System.Net.HttpListener.dll
bin/Debug/net9.0/osx-arm64/System.Net.Mail.dll
bin/Debug/net9.0/osx-arm64/System.Net.NameResolution.dll
bin/Debug/net9.0/osx-arm64/System.Net.NetworkInformation.dll
bin/Debug/net9.0/osx-arm64/System.Net.Ping.dll
bin/Debug/net9.0/osx-arm64/System.Net.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.Net.Quic.dll
bin/Debug/net9.0/osx-arm64/System.Net.Requests.dll
bin/Debug/net9.0/osx-arm64/System.Net.Security.dll
bin/Debug/net9.0/osx-arm64/System.Net.ServicePoint.dll
bin/Debug/net9.0/osx-arm64/System.Net.Sockets.dll
bin/Debug/net9.0/osx-arm64/System.Net.WebClient.dll
bin/Debug/net9.0/osx-arm64/System.Net.WebHeaderCollection.dll
bin/Debug/net9.0/osx-arm64/System.Net.WebProxy.dll
bin/Debug/net9.0/osx-arm64/System.Net.WebSockets.Client.dll
bin/Debug/net9.0/osx-arm64/System.Net.WebSockets.dll
bin/Debug/net9.0/osx-arm64/System.Numerics.dll
bin/Debug/net9.0/osx-arm64/System.Numerics.Vectors.dll
bin/Debug/net9.0/osx-arm64/System.ObjectModel.dll
bin/Debug/net9.0/osx-arm64/System.Private.CoreLib.dll
bin/Debug/net9.0/osx-arm64/System.Private.DataContractSerialization.dll
bin/Debug/net9.0/osx-arm64/System.Private.Uri.dll
bin/Debug/net9.0/osx-arm64/System.Private.Xml.dll
bin/Debug/net9.0/osx-arm64/System.Private.Xml.Linq.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.DispatchProxy.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Emit.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Emit.ILGeneration.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Emit.Lightweight.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Extensions.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Metadata.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.Reflection.TypeExtensions.dll
bin/Debug/net9.0/osx-arm64/System.Resources.Reader.dll
bin/Debug/net9.0/osx-arm64/System.Resources.ResourceManager.dll
bin/Debug/net9.0/osx-arm64/System.Resources.Writer.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.CompilerServices.VisualC.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Extensions.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Handles.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.InteropServices.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.InteropServices.JavaScript.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Intrinsics.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Loader.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Numerics.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Serialization.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Serialization.Formatters.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Serialization.Json.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Serialization.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.Runtime.Serialization.Xml.dll
bin/Debug/net9.0/osx-arm64/System.Security.AccessControl.dll
bin/Debug/net9.0/osx-arm64/System.Security.Claims.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.Algorithms.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.Cng.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.Csp.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.Encoding.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.OpenSsl.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.Primitives.dll
bin/Debug/net9.0/osx-arm64/System.Security.Cryptography.X509Certificates.dll
bin/Debug/net9.0/osx-arm64/System.Security.dll
bin/Debug/net9.0/osx-arm64/System.Security.Principal.dll
bin/Debug/net9.0/osx-arm64/System.Security.Principal.Windows.dll
bin/Debug/net9.0/osx-arm64/System.Security.SecureString.dll
bin/Debug/net9.0/osx-arm64/System.ServiceModel.Web.dll
bin/Debug/net9.0/osx-arm64/System.ServiceProcess.dll
bin/Debug/net9.0/osx-arm64/System.Text.Encoding.CodePages.dll
bin/Debug/net9.0/osx-arm64/System.Text.Encoding.dll
bin/Debug/net9.0/osx-arm64/System.Text.Encoding.Extensions.dll
bin/Debug/net9.0/osx-arm64/System.Text.Encodings.Web.dll
bin/Debug/net9.0/osx-arm64/System.Text.Json.dll
bin/Debug/net9.0/osx-arm64/System.Text.RegularExpressions.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Channels.dll
bin/Debug/net9.0/osx-arm64/System.Threading.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Overlapped.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Tasks.Dataflow.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Tasks.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Tasks.Extensions.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Tasks.Parallel.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Thread.dll
bin/Debug/net9.0/osx-arm64/System.Threading.ThreadPool.dll
bin/Debug/net9.0/osx-arm64/System.Threading.Timer.dll
bin/Debug/net9.0/osx-arm64/System.Transactions.dll
bin/Debug/net9.0/osx-arm64/System.Transactions.Local.dll
bin/Debug/net9.0/osx-arm64/System.ValueTuple.dll
bin/Debug/net9.0/osx-arm64/System.Web.dll
bin/Debug/net9.0/osx-arm64/System.Web.HttpUtility.dll
bin/Debug/net9.0/osx-arm64/System.Windows.dll
bin/Debug/net9.0/osx-arm64/System.Xml.dll
bin/Debug/net9.0/osx-arm64/System.Xml.Linq.dll
bin/Debug/net9.0/osx-arm64/System.Xml.ReaderWriter.dll
bin/Debug/net9.0/osx-arm64/System.Xml.Serialization.dll
bin/Debug/net9.0/osx-arm64/System.Xml.XDocument.dll
bin/Debug/net9.0/osx-arm64/System.Xml.XmlDocument.dll
bin/Debug/net9.0/osx-arm64/System.Xml.XmlSerializer.dll
bin/Debug/net9.0/osx-arm64/System.Xml.XPath.dll
bin/Debug/net9.0/osx-arm64/System.Xml.XPath.XDocument.dll
bin/Debug/net9.0/osx-arm64/WindowsBase.dll
bin/Release/net9.0/osx-arm64/createdump
bin/Release/net9.0/osx-arm64/libclrgc.dylib
bin/Release/net9.0/osx-arm64/libclrgcexp.dylib
bin/Release/net9.0/osx-arm64/libclrjit.dylib
bin/Release/net9.0/osx-arm64/libcoreclr.dylib
bin/Release/net9.0/osx-arm64/libe_sqlite3.dylib
bin/Release/net9.0/osx-arm64/libhostfxr.dylib
bin/Release/net9.0/osx-arm64/libhostpolicy.dylib
bin/Release/net9.0/osx-arm64/libmscordaccore.dylib
bin/Release/net9.0/osx-arm64/libmscordbi.dylib
bin/Release/net9.0/osx-arm64/libSystem.Globalization.Native.dylib
bin/Release/net9.0/osx-arm64/libSystem.IO.Compression.Native.dylib
bin/Release/net9.0/osx-arm64/libSystem.Native.dylib
bin/Release/net9.0/osx-arm64/libSystem.Net.Security.Native.dylib
bin/Release/net9.0/osx-arm64/libSystem.Security.Cryptography.Native.Apple.dylib
bin/Release/net9.0/osx-arm64/libSystem.Security.Cryptography.Native.OpenSsl.dylib
bin/Release/net9.0/osx-arm64/Microsoft.CSharp.dll
bin/Release/net9.0/osx-arm64/Microsoft.Data.Sqlite.dll
bin/Release/net9.0/osx-arm64/Microsoft.VisualBasic.Core.dll
bin/Release/net9.0/osx-arm64/Microsoft.VisualBasic.dll
bin/Release/net9.0/osx-arm64/Microsoft.Win32.Primitives.dll
bin/Release/net9.0/osx-arm64/Microsoft.Win32.Registry.dll
bin/Release/net9.0/osx-arm64/mscorlib.dll
bin/Release/net9.0/osx-arm64/netstandard.dll
bin/Release/net9.0/osx-arm64/recup
bin/Release/net9.0/osx-arm64/recup.deps.json
bin/Release/net9.0/osx-arm64/recup.dll
bin/Release/net9.0/osx-arm64/recup.pdb
bin/Release/net9.0/osx-arm64/recup.runtimeconfig.json
bin/Release/net9.0/osx-arm64/SQLitePCLRaw.batteries_v2.dll
bin/Release/net9.0/osx-arm64/SQLitePCLRaw.core.dll
bin/Release/net9.0/osx-arm64/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Release/net9.0/osx-arm64/System.AppContext.dll
bin/Release/net9.0/osx-arm64/System.Buffers.dll
bin/Release/net9.0/osx-arm64/System.Collections.Concurrent.dll
bin/Release/net9.0/osx-arm64/System.Collections.dll
bin/Release/net9.0/osx-arm64/System.Collections.Immutable.dll
bin/Release/net9.0/osx-arm64/System.Collections.NonGeneric.dll
bin/Release/net9.0/osx-arm64/System.Collections.Specialized.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.Annotations.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.DataAnnotations.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.EventBasedAsync.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.Primitives.dll
bin/Release/net9.0/osx-arm64/System.ComponentModel.TypeConverter.dll
bin/Release/net9.0/osx-arm64/System.Configuration.dll
bin/Release/net9.0/osx-arm64/System.Console.dll
bin/Release/net9.0/osx-arm64/System.Core.dll
bin/Release/net9.0/osx-arm64/System.Data.Common.dll
bin/Release/net9.0/osx-arm64/System.Data.DataSetExtensions.dll
bin/Release/net9.0/osx-arm64/System.Data.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.Contracts.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.Debug.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.DiagnosticSource.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.FileVersionInfo.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.Process.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.StackTrace.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.TextWriterTraceListener.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.Tools.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.TraceSource.dll
bin/Release/net9.0/osx-arm64/System.Diagnostics.Tracing.dll
bin/Release/net9.0/osx-arm64/System.dll
bin/Release/net9.0/osx-arm64/System.Drawing.dll
bin/Release/net9.0/osx-arm64/System.Drawing.Primitives.dll
bin/Release/net9.0/osx-arm64/System.Dynamic.Runtime.dll
bin/Release/net9.0/osx-arm64/System.Formats.Asn1.dll
bin/Release/net9.0/osx-arm64/System.Formats.Tar.dll
bin/Release/net9.0/osx-arm64/System.Globalization.Calendars.dll
bin/Release/net9.0/osx-arm64/System.Globalization.dll
bin/Release/net9.0/osx-arm64/System.Globalization.Extensions.dll
bin/Release/net9.0/osx-arm64/System.IO.Compression.Brotli.dll
bin/Release/net9.0/osx-arm64/System.IO.Compression.dll
bin/Release/net9.0/osx-arm64/System.IO.Compression.FileSystem.dll
bin/Release/net9.0/osx-arm64/System.IO.Compression.ZipFile.dll
bin/Release/net9.0/osx-arm64/System.IO.dll
bin/Release/net9.0/osx-arm64/System.IO.FileSystem.AccessControl.dll
bin/Release/net9.0/osx-arm64/System.IO.FileSystem.dll
bin/Release/net9.0/osx-arm64/System.IO.FileSystem.DriveInfo.dll
bin/Release/net9.0/osx-arm64/System.IO.FileSystem.Primitives.dll
bin/Release/net9.0/osx-arm64/System.IO.FileSystem.Watcher.dll
bin/Release/net9.0/osx-arm64/System.IO.IsolatedStorage.dll
bin/Release/net9.0/osx-arm64/System.IO.MemoryMappedFiles.dll
bin/Release/net9.0/osx-arm64/System.IO.Pipelines.dll
bin/Release/net9.0/osx-arm64/System.IO.Pipes.AccessControl.dll
bin/Release/net9.0/osx-arm64/System.IO.Pipes.dll
bin/Release/net9.0/osx-arm64/System.IO.UnmanagedMemoryStream.dll
bin/Release/net9.0/osx-arm64/System.Linq.dll
bin/Release/net9.0/osx-arm64/System.Linq.Expressions.dll
bin/Release/net9.0/osx-arm64/System.Linq.Parallel.dll
bin/Release/net9.0/osx-arm64/System.Linq.Queryable.dll
bin/Release/net9.0/osx-arm64/System.Memory.dll
bin/Release/net9.0/osx-arm64/System.Net.dll
bin/Release/net9.0/osx-arm64/System.Net.Http.dll
bin/Release/net9.0/osx-arm64/System.Net.Http.Json.dll
bin/Release/net9.0/osx-arm64/System.Net.HttpListener.dll
bin/Release/net9.0/osx-arm64/System.Net.Mail.dll
bin/Release/net9.0/osx-arm64/System.Net.NameResolution.dll
bin/Release/net9.0/osx-arm64/System.Net.NetworkInformation.dll
bin/Release/net9.0/osx-arm64/System.Net.Ping.dll
bin/Release/net9.0/osx-arm64/System.Net.Primitives.dll
bin/Release/net9.0/osx-arm64/System.Net.Quic.dll
bin/Release/net9.0/osx-arm64/System.Net.Requests.dll
bin/Release/net9.0/osx-arm64/System.Net.Security.dll
bin/Release/net9.0/osx-arm64/System.Net.ServicePoint.dll
bin/Release/net9.0/osx-arm64/System.Net.Sockets.dll
bin/Release/net9.0/osx-arm64/System.Net.WebClient.dll
bin/Release/net9.0/osx-arm64/System.Net.WebHeaderCollection.dll
bin/Release/net9.0/osx-arm64/System.Net.WebProxy.dll
bin/Release/net9.0/osx-arm64/System.Net.WebSockets.Client.dll
bin/Release/net9.0/osx-arm64/System.Net.WebSockets.dll
bin/Release/net9.0/osx-arm64/System.Numerics.dll
bin/Release/net9.0/osx-arm64/System.Numerics.Vectors.dll
bin/Release/net9.0/osx-arm64/System.ObjectModel.dll
bin/Release/net9.0/osx-arm64/System.Private.CoreLib.dll
bin/Release/net9.0/osx-arm64/System.Private.DataContractSerialization.dll
bin/Release/net9.0/osx-arm64/System.Private.Uri.dll
bin/Release/net9.0/osx-arm64/System.Private.Xml.dll
bin/Release/net9.0/osx-arm64/System.Private.Xml.Linq.dll
bin/Release/net9.0/osx-arm64/System.Reflection.DispatchProxy.dll
bin/Release/net9.0/osx-arm64/System.Reflection.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Emit.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Emit.ILGeneration.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Emit.Lightweight.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Extensions.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Metadata.dll
bin/Release/net9.0/osx-arm64/System.Reflection.Primitives.dll
bin/Release/net9.0/osx-arm64/System.Reflection.TypeExtensions.dll
bin/Release/net9.0/osx-arm64/System.Resources.Reader.dll
bin/Release/net9.0/osx-arm64/System.Resources.ResourceManager.dll
bin/Release/net9.0/osx-arm64/System.Resources.Writer.dll
bin/Release/net9.0/osx-arm64/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/net9.0/osx-arm64/System.Runtime.CompilerServices.VisualC.dll
bin/Release/net9.0/osx-arm64/System.Runtime.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Extensions.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Handles.dll
bin/Release/net9.0/osx-arm64/System.Runtime.InteropServices.dll
bin/Release/net9.0/osx-arm64/System.Runtime.InteropServices.JavaScript.dll
bin/Release/net9.0/osx-arm64/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Intrinsics.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Loader.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Numerics.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Serialization.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Serialization.Formatters.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Serialization.Json.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Serialization.Primitives.dll
bin/Release/net9.0/osx-arm64/System.Runtime.Serialization.Xml.dll
bin/Release/net9.0/osx-arm64/System.Security.AccessControl.dll
bin/Release/net9.0/osx-arm64/System.Security.Claims.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.Algorithms.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.Cng.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.Csp.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.Encoding.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.OpenSsl.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.Primitives.dll
bin/Release/net9.0/osx-arm64/System.Security.Cryptography.X509Certificates.dll
bin/Release/net9.0/osx-arm64/System.Security.dll
bin/Release/net9.0/osx-arm64/System.Security.Principal.dll
bin/Release/net9.0/osx-arm64/System.Security.Principal.Windows.dll
bin/Release/net9.0/osx-arm64/System.Security.SecureString.dll
bin/Release/net9.0/osx-arm64/System.ServiceModel.Web.dll
bin/Release/net9.0/osx-arm64/System.ServiceProcess.dll
bin/Release/net9.0/osx-arm64/System.Text.Encoding.CodePages.dll
bin/Release/net9.0/osx-arm64/System.Text.Encoding.dll
bin/Release/net9.0/osx-arm64/System.Text.Encoding.Extensions.dll
bin/Release/net9.0/osx-arm64/System.Text.Encodings.Web.dll
bin/Release/net9.0/osx-arm64/System.Text.Json.dll
bin/Release/net9.0/osx-arm64/System.Text.RegularExpressions.dll
bin/Release/net9.0/osx-arm64/System.Threading.Channels.dll
bin/Release/net9.0/osx-arm64/System.Threading.dll
bin/Release/net9.0/osx-arm64/System.Threading.Overlapped.dll
bin/Release/net9.0/osx-arm64/System.Threading.Tasks.Dataflow.dll
bin/Release/net9.0/osx-arm64/System.Threading.Tasks.dll
bin/Release/net9.0/osx-arm64/System.Threading.Tasks.Extensions.dll
bin/Release/net9.0/osx-arm64/System.Threading.Tasks.Parallel.dll
bin/Release/net9.0/osx-arm64/System.Threading.Thread.dll
bin/Release/net9.0/osx-arm64/System.Threading.ThreadPool.dll
bin/Release/net9.0/osx-arm64/System.Threading.Timer.dll
bin/Release/net9.0/osx-arm64/System.Transactions.dll
bin/Release/net9.0/osx-arm64/System.Transactions.Local.dll
bin/Release/net9.0/osx-arm64/System.ValueTuple.dll
bin/Release/net9.0/osx-arm64/System.Web.dll
bin/Release/net9.0/osx-arm64/System.Web.HttpUtility.dll
bin/Release/net9.0/osx-arm64/System.Windows.dll
bin/Release/net9.0/osx-arm64/System.Xml.dll
bin/Release/net9.0/osx-arm64/System.Xml.Linq.dll
bin/Release/net9.0/osx-arm64/System.Xml.ReaderWriter.dll
bin/Release/net9.0/osx-arm64/System.Xml.Serialization.dll
bin/Release/net9.0/osx-arm64/System.Xml.XDocument.dll
bin/Release/net9.0/osx-arm64/System.Xml.XmlDocument.dll
bin/Release/net9.0/osx-arm64/System.Xml.XmlSerializer.dll
bin/Release/net9.0/osx-arm64/System.Xml.XPath.dll
bin/Release/net9.0/osx-arm64/System.Xml.XPath.XDocument.dll
bin/Release/net9.0/osx-arm64/WindowsBase.dll
obj/project.assets.json
obj/project.nuget.cache
obj/recup.csproj.nuget.dgspec.json
obj/recup.csproj.nuget.g.props
obj/recup.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/recup.AssemblyInfo.cs
obj/Debug/net8.0/recup.AssemblyInfoInputs.cache
obj/Debug/net8.0/recup.assets.cache
obj/Debug/net8.0/recup.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/recup.GlobalUsings.g.cs
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/recup.assets.cache
obj/Debug/net9.0/recup.csproj.FileListAbsolute.txt
obj/Debug/net9.0/recup.GlobalUsings.g.cs
obj/Debug/net9.0/osx-arm64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/osx-arm64/apphost
obj/Debug/net9.0/osx-arm64/recup.AssemblyInfo.cs
obj/Debug/net9.0/osx-arm64/recup.AssemblyInfoInputs.cache
obj/Debug/net9.0/osx-arm64/recup.assets.cache
obj/Debug/net9.0/osx-arm64/recup.csproj.AssemblyReference.cache
obj/Debug/net9.0/osx-arm64/recup.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/osx-arm64/recup.csproj.FileListAbsolute.txt
obj/Debug/net9.0/osx-arm64/recup.csproj.Up2Date
obj/Debug/net9.0/osx-arm64/recup.dll
obj/Debug/net9.0/osx-arm64/recup.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/osx-arm64/recup.genruntimeconfig.cache
obj/Debug/net9.0/osx-arm64/recup.GlobalUsings.g.cs
obj/Debug/net9.0/osx-arm64/recup.pdb
obj/Debug/net9.0/osx-arm64/ref/recup.dll
obj/Debug/net9.0/osx-arm64/refint/recup.dll
obj/Release/net9.0/osx-arm64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Release/net9.0/osx-arm64/apphost
obj/Release/net9.0/osx-arm64/recup.AssemblyInfo.cs
obj/Release/net9.0/osx-arm64/recup.AssemblyInfoInputs.cache
obj/Release/net9.0/osx-arm64/recup.assets.cache
obj/Release/net9.0/osx-arm64/recup.csproj.AssemblyReference.cache
obj/Release/net9.0/osx-arm64/recup.csproj.CoreCompileInputs.cache
obj/Release/net9.0/osx-arm64/recup.csproj.FileListAbsolute.txt
obj/Release/net9.0/osx-arm64/recup.csproj.Up2Date
obj/Release/net9.0/osx-arm64/recup.dll
obj/Release/net9.0/osx-arm64/recup.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net9.0/osx-arm64/recup.genruntimeconfig.cache
obj/Release/net9.0/osx-arm64/recup.GlobalUsings.g.cs
obj/Release/net9.0/osx-arm64/recup.pdb
obj/Release/net9.0/osx-arm64/ref/recup.dll
obj/Release/net9.0/osx-arm64/refint/recup.dll
